<h1>Klir Store</h1>
<p>Welcome to this humble four products store!</p>
<p>
  If you need to configure a product promotion, go to the
  <a [routerLink]="['/products-list']">Products Management</a> area.
</p>
<h2>Let's buy!</h2>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Price</th>
      <th scope="col">Promotion Available</th>
      <th scope="col">Quantity</th>
      <th scope="col">Total</th>
    </tr>
  </thead>
  <tbody>
    <tr app-products-to-buy
      *ngFor="let p of products"
      [product]="p"
    ></tr>
  </tbody>
</table>
<p>
  When finished choosing your products, go to <a [routerLink]="['/checkout']">Checkout</a>.
</p>
